<mat-toolbar>

  <mat-toolbar-row>

    <mat-form-field>
      <mat-select name="prizeVaraible" [(value)]="selectedPrize" placeholder="選擇獎項">
        <mat-option *ngFor="let item of prize" [value]="item">
          {{item.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="onClickEvent()" style="margin-left: 50px">抽獎囉</button>

    <button mat-raised-button color="primary" (click)="onClickEvent()" style="margin-left: 10px">匯出名單</button>

  </mat-toolbar-row>
</mat-toolbar>
